extends layout

block content
  .jumbotron
    .container
      h1 How May I Help You?
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut risus ligula, blandit at ipsum ut, elementum eleifend neque. Vestibulum sed nisi diam. Vivamus id neque et nunc eleifend volutpat. Aenean velit velit, dignissim ac quam sed, scelerisque lacinia magna. Etiam at efficitur velit. Donec molestie et orci at congue. Nunc a leo nec nunc varius vehicula ac in risus. Curabitur mauris erat, viverra id porttitor sit amet, accumsan sed enim. Quisque vitae odio ac metus vestibulum scelerisque. Nullam risus quam, tempor id arcu sit amet, tempus porta libero.
      a.btn.btn-primary.btn-lg(href="") Learn more &raquo;
  .container
    .row
      .col-md-4
        h2 About Us
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut risus ligula, blandit at ipsum ut, elementum eleifend neque. Vestibulum sed nisi diam. Vivamus id neque et nunc eleifend volutpat. Aenean velit velit, dignissim ac quam sed, scelerisque lacinia magna. Etiam at efficitur velit. Donec molestie et orci at congue. Nunc a leo nec nunc varius vehicula ac in risus. Curabitur mauris erat, viverra id porttitor sit amet, accumsan sed enim. Quisque vitae odio ac metus vestibulum scelerisque. Nullam risus quam, tempor id arcu sit amet, tempus porta libero.
        a.btn.btn-default(href="#") View Details
      .col-md-4
        h2 Services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut risus ligula, blandit at ipsum ut, elementum eleifend neque. Vestibulum sed nisi diam. Vivamus id neque et nunc eleifend volutpat. Aenean velit velit, dignissim ac quam sed, scelerisque lacinia magna. Etiam at efficitur velit. Donec molestie et orci at congue. Nunc a leo nec nunc varius vehicula ac in risus. Curabitur mauris erat, viverra id porttitor sit amet, accumsan sed enim. Quisque vitae odio ac metus vestibulum scelerisque. Nullam risus quam, tempor id arcu sit amet, tempus porta libero.
        a.btn.btn-default(href="#") View Details
      .col-md-4
        h2 Contact
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut risus ligula, blandit at ipsum ut, elementum eleifend neque. Vestibulum sed nisi diam. Vivamus id neque et nunc eleifend volutpat. Aenean velit velit, dignissim ac quam sed, scelerisque lacinia magna. Etiam at efficitur velit. Donec molestie et orci at congue. Nunc a leo nec nunc varius vehicula ac in risus. Curabitur mauris erat, viverra id porttitor sit amet, accumsan sed enim. Quisque vitae odio ac metus vestibulum scelerisque. Nullam risus quam, tempor id arcu sit amet, tempus porta libero.
        a.btn.btn-default(href="#") View Details